<form id="import-export" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <h2>{{localize "MF.exportConfig"}}</h2>
        <h2>{{localize "MF.importConfig"}}</h2>
    </div>
    <script>
        document.querySelector('#import-export .mfolder-copy').addEventListener('click',function(event){
            event.stopPropagation();
            let exportText = document.querySelector('#import-export textarea[name=\'exportData\']');
            exportText.select();
            exportText.setSelectionRange(0, 99999); /*For mobile devices*/          
            document.execCommand("copy");
            ui.notifications.info(game.i18n.localize('MF.clipboardNotification'));
        });
    </script>
    <div class="form-group">
        <textarea name='exportData' readonly>{{exportData}}</textarea>
        <textarea name='importData'></textarea>
    </div>
    <div class='flexrow'>    
        <button class='mfolder-copy' type="reset"><i class="fas fa-clipboard"></i>{{localize "MF.clipboard"}}</button>
        <button class='mfolder-submit' type="submit"><i class="fas fa-check"></i> {{submitText}}</button>
    </div>
</form>
